

<table>
  <tr>
   <td><strong>Time</strong>
   </td>
   <td><strong>What</strong>
   </td>
   <td><strong>Presenter</strong>
   </td>
  </tr>
  <tr>
   <td><strong>Monday, December 10th</strong>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>8:30 AM
   </td>
   <td>Registration / Settling
   </td>
   <td>Program Committee / W3C Staff
   </td>
  </tr>
  <tr>
   <td>9:00 AM
   </td>
   <td>Welcome and Procedural
   </td>
   <td>Wendy Seltzer
   </td>
  </tr>
  <tr>
   <td>9:30 AM
   </td>
   <td>Understanding Verifiable Credentials
   </td>
   <td>Dan Burnett
   </td>
  </tr>
  <tr>
   <td>9:50 AM
   </td>
   <td>Understanding DIDs
   </td>
   <td>Kim Duffy
   </td>
  </tr>
  <tr>
   <td>10:10 AM
   </td>
   <td>Understanding DID Auth
   </td>
   <td>Markus Sabadello
   </td>
  </tr>
  <tr>
   <td>10:30 AM
   </td>
   <td>Break
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>11:00 AM
   </td>
   <td>Understanding WebAuthn, CTAP, EAT, FIDO and Authenticators
   </td>
   <td>Tony Nadalin
<p>
Dirk Balfanz
<p>
Rae Hayward
   </td>
  </tr>
  <tr>
   <td>11:30 AM
   </td>
   <td>Understanding JWT/CWT, OpenID, and related ecosystem
   </td>
   <td>John Bradley
<p>
Mike Jones
<p>
Aaron Parecki
   </td>
  </tr>
  <tr>
   <td>11:50 AM
   </td>
   <td>Explanation of Breakout Sessions (Goals/Output)
   </td>
   <td>Kaliya Young
   </td>
  </tr>
  <tr>
   <td>12:10 PM
   </td>
   <td>Lunch
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>1:30 PM
   </td>
   <td>Breakout #1: Positions on Presented Technologies / Concerns / Potential Work Items
   </td>
   <td>All
   </td>
  </tr>
  <tr>
   <td>2:00 PM
   </td>
   <td>Breakout #2: Positions on Presented Technologies / Concerns / Potential Work Items
   </td>
   <td>All
   </td>
  </tr>
  <tr>
   <td>2:30 PM
   </td>
   <td>Report Out to Entire Group on Concerns and Potential Work Items
   </td>
   <td>Kaliya Young
   </td>
  </tr>
  <tr>
   <td>3:00 PM
   </td>
   <td>Break
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>3:30 PM
   </td>
   <td>Market Verticals - Understanding current and future problems
<p>
* Government - Peter Watkins
<p>
* Healthcare - Allen Brown
<p>
* Supply Chain - Jim Masloski
<p>
* Legal - Scott David
<p>
* Once upon a time - John Fontana
   </td>
   <td>Industry
   </td>
  </tr>
  <tr>
   <td>4:30 PM
   </td>
   <td>Wrap up / Agenda Gardening
   </td>
   <td>Wendy Seltzer
   </td>
  </tr>
  <tr>
   <td>5:00 PM
   </td>
   <td>Close
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>Afterhours: Zeitgeist of concerns and potential work items
   </td>
   <td>Program Committee
   </td>
  </tr>
  <tr>
   <td>6:00 PM
   </td>
   <td>Group Dinner
   </td>
   <td>On Campus -
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td><strong>Tuesday, December 11th</strong>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>9:00 AM
   </td>
   <td>Procedural / Agenda Gardening
   </td>
   <td>Wendy Seltzer
   </td>
  </tr>
  <tr>
   <td>9:30 AM
   </td>
   <td>Dot voting: Concerns and Potential Work Items
   </td>
   <td>Kaliya - All
   </td>
  </tr>
  <tr>
   <td>9:45 AM
   </td>
   <td>Exploring Cultural and Economic Perspectives
   </td>
   <td>Takashi Minamii
<p>
Shigeya Suzuki
<p>
Pindar Wong
   </td>
  </tr>
  <tr>
   <td>10:15 AM
   </td>
   <td>Avoiding mistakes and minefields
   </td>
   <td>Jeff Hodges
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>Trusted ID
   </td>
   <td>Mary Hodder
<p>
Tom Jones
   </td>
  </tr>
  <tr>
   <td>10:45 AM
   </td>
   <td>Morning Break
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>12:00 PM
   </td>
   <td>Lunch
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>2:15 PM
   </td>
   <td>5 Year Roadmap: DIDs, VCs, and Attestations
   </td>
   <td>Christopher Allen
<p>
Mathias Brossard
<p>
Greg Kidd
   </td>
  </tr>
  <tr>
   <td>2:45 PM
   </td>
   <td>5 Year Roadmap: Authenticators
   </td>
   <td>John Bradley
<p>
John Callahan
<p>
Marie Lathière
   </td>
  </tr>
  <tr>
   <td>1:30 PM
   </td>
   <td>Entire Group: Discussion 
   </td>
   <td>Wendy Seltzer - All
   </td>
  </tr>
  <tr>
   <td>2:00 PM
   </td>
   <td>Afternoon Break
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>3:45 PM
   </td>
   <td>Breakouts
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>4:00 PM
   </td>
   <td>Finish
   </td>
   <td>
   </td>
  </tr>
</table>
