<aside class="box" id="dates">
    <h2 class="footnote">Important Dates</h2>
    <dl>
        <dt>
            29th October, 2018
        </dt>
        <dd>
            Application and position statements deadline
        </dd>
        <dt>
            12th November, 2018
        </dt>
        <dd>
            Acceptance notifications
        </dd>
        <dt>
            21st November, 2018
        </dt>
        <dd>
            Program announced
        </dd>
        <dt>
            10th December, 2018
        </dt>
        <dd>
            Workshop
        </dd>
    </dl>
</aside>
<aside class="box" id="regs">
    <h2 class="footnote">Applications and Position Statements</h2>
    <p>Fill out the <a class="todo" href="@@@">application form</a> or submit a <a href="#position-statements">position statement</a>.</p>
</aside>
