<header class="header h-event">
    <p>
        <a href="https://www.w3.org/"><img alt="W3C" src="https://www.w3.org/Icons/w3c_home" height="48" width="72"></a>
    </p>
    <h1 id="top" class="p-name">W3C 强认证与身份验证技术研讨会</h1>
    <p>
        <time class="dt-start" datetime="2018-12-10">12月10日</time>
        至 <time class="dt-end" datetime="2018-12-11">11日，2018年</time>; 
        Location <span class="p-location">美国华盛顿州雷德蒙德市微软大厦27号</span>
    </p>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a class="u-url u-uid" href="index.html">主页</a>
            </li>
            <li>
                <a class="u-url" href="report.html">报告</a>
            </li>
            <li>
                <a class="u-url" href="minutes.html">纪要</a>
            </li>
            <li>
                <a class="u-url" href="papers.html">立场声明</a>
            </li>
            <li>
                <a class="u-url" href="schedule.html">议程</a>
            </li>
            <li>
                <a href="cfp.html">参会</a>
            </li>
        </ul>
    </nav>
</header>
