<aside class="box box-host" id="host">
    <h2 class="footnote">Host</h2>
    <p class="image-paragraph-host">
        W3C gratefully acknowledges Microsoft for hosting this workshop.
    </p>
    <p class="image-paragraph">
        <a href="https://www.microsoft.com/" class="image-link"><img src="assets/logos/microsoft.png" alt="Microsoft"></a>
    </p>
</aside>
<aside class="box" id="sponsor">
    <h2 class="footnote">Sponsors</h2>
    <p>
        <a href="sponsorship.html">Sponsorship package info.</a>
    </p>
</aside>
