<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        W3C Workshop on Strong Authentication & Identity
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    {% include header.html %}
    {% include cfp_dates.html %}
    {% include host_sponsors.html %}
    <main id="main" class="main">
        <section id="home">
            {{ content }}
        </section>
    </main>
    <footer class="footer" id="footer">
        <p>
            W3C is proud to be an open and inclusive organization, focused on productive discussions and actions. Our <a href="https://www.w3.org/Consortium/cepc/">Code of Ethics and Professional Conduct</a> ensures that all voices can be heard.
        </p>
        <p>
            Questions? Contact the program committee &lt;<a href="mailto:group-identity-ws-pc@w3.org">group-identity-ws-pc@w3.org</a>&gt;.
        </p>
        <p>
            Suggestions for improving this workshop page, such as fixing typos or adding specific topics, can be made by opening a <a href="https://github.com/w3c/strong-authentication-and-identity-workshop/pulls">pull request on GitHub</a>, or by emailing <span>Adam Powers &lt;<a href="mailto:apowers@w3.org">apowers@w3.org</a>&gt;</a>.
        </p>
    </footer>
    <script src="assets/js/script.js"></script>
</body>

</html>
