<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>
        W3C 强认证与身份验证技术研讨会
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    {% include header.html %}
    {% include host_sponsors.html %}
    <main id="main" class="main">
        <section id="home">
            {{ content }}
        </section>
    </main>
    <footer class="footer" id="footer">
        <p>
          W3C 是一个开放且包容的组织，专注于高效的讨论以及富有成效的行动。我们的<a href="https://www.w3.org/Consortium/cepc/">职业道德与行为准则</a>确保我们积极听取来自各方的意见与声音。
        </p>
        <p>
            如对本次研讨会有任何疑问，请联系项目委员会 &lt;<a href="mailto:group-identity-ws-pc@w3.org">group-identity-ws-pc@w3.org</a>&gt;。
        </p>

<p>
    对于以上研讨会页面内容的任何建议，例如修正拼写错误或添加具体话题等，欢迎通过 <a href="https://github.com/w3c/strong-authentication-and-identity-workshop/pulls">GitHub</a> 提出，或邮件联系 <span>项目委员会 &lt;<a href="mailto:group-identity-ws-pc@w3.org">group-identity-ws-pc@w3.org</a>&gt;</a>。
        </p>


    </footer>
    <script src="assets/js/script.js"></script>
</body>

</html>
